<!-- The below code established an Engineer HTML Template -->

<div class="card">
  <div class="card-header">
    <h3>Engineer</h3>
    <h4>{{ name }}</h4>
    <h4>{{ role }}</h4>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">ID: {{ id }}</li>
      <li class="list-group-item">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
      <li class="list-group-item">GitHub: <a href="https://github.com/{{ github }}" target="_blank">{{ github }}</a></li>
    </ul>
  </div>
</div>
