<div class="card manager-card">
  <h3>{{name}}</h3>
  <h4>Manager</h4>
  <ul>
    <li>ID: {{id}}</li>
    <li>Email: <a href="mailto:{{email}}">{{email}}</a></li>
    <li>Office number: {{officeNumber}}</li>
  </ul>
</div>
